Source: haskell-archive
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 5.0.0),
	       cdbs,
               haskell-devscripts,
	       ghc (>=6.8),
	       ghc-prof,
	       ghc-doc,
	       haddock,
	       libghc-extra-prof (>= 1.11),
	       libghc-unixutils-prof,
               libghc-hunit-prof,
               libghc-hunit-doc,
               libghc-mtl-prof,
               libghc-mtl-doc,
               libghc-network-prof,
               libghc-network-doc,
               libghc-regex-compat-prof,
               haskell-regex-compat-doc,
               libghc-regex-posix-prof,
               haskell-regex-posix-doc,
	       libghc-debian-prof (>= 2.19),
	       libghc-debian-doc,
	       libghc-debian-mirror-prof,
	       libghc-debian-mirror-doc,
	       libghc-help-prof,
	       libghc-help-doc,
	       libghc-extra-doc,
	       libghc-unixutils-doc,
	       libghc-debian-doc,
	       libghc-debian-mirror-doc,
	       libghc-xhtml-prof,
	       libghc-xhtml-doc
Build-Depends-Indep: hugs (>= 98.200503.08)
Standards-Version: 3.7.2.2

Package: libghc-archive-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Description: A library for creating hardlinked mirrors/backups
 This package contains the libraries compiled for GHC 6.

Package: libghc-archive-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}, libghc-archive-dev
Description: A library for creating hardlinked mirrors/backups
 This package contains the libraries compiled for GHC 6.

Package: libghc-archive-doc
Section: doc
Architecture: any
Depends: ${haskell:Depends}
Description: A library for creating hardlinked mirrors/backups
 This package contains the documentation.

Package: archive
Section: admin
Architecture: any
Description: Tool for making hardlinked mirrors/backups
 This package contains and command line executable. 
